## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,35.26,69,0,5.75,clear sky
1,1,Asau,RO,46.4333,26.4000,64.40,89,76,5.64,broken clouds
2,2,Rikitea,PF,-23.1203,-134.9692,74.79,77,79,23.33,broken clouds
3,3,Fortuna,US,40.5982,-124.1573,59.41,71,90,1.99,overcast clouds
4,4,Antsohihy,MG,-14.8796,47.9875,78.21,50,40,11.41,scattered clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)].dropna()
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Antsohihy,MG,-14.8796,47.9875,78.21,50,40,11.41,scattered clouds
5,5,Vaini,TO,-21.2000,-175.2000,75.36,88,75,6.91,light rain
12,12,Bengkulu,ID,-3.8004,102.2655,84.00,69,45,7.78,scattered clouds
17,17,Jalu,LY,29.0331,21.5482,80.80,31,0,11.27,clear sky
23,23,Manicore,BR,-5.8092,-61.3003,75.15,100,0,0.00,clear sky
25,25,Isla Mujeres,MX,21.2311,-86.7310,77.16,88,100,15.75,overcast clouds
31,31,Manggar,ID,-2.8833,108.2667,86.22,60,91,8.08,overcast clouds
38,38,Kapaa,US,22.0752,-159.3190,79.12,79,40,3.00,light rain
39,39,Saint-Philippe,RE,-21.3585,55.7679,75.47,82,58,12.77,light rain
40,40,Vanavara,RU,60.3400,102.2797,77.58,28,15,2.64,few clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
4,4,Antsohihy,MG,-14.8796,47.9875,78.21,50,40,11.41,scattered clouds
5,5,Vaini,TO,-21.2000,-175.2000,75.36,88,75,6.91,light rain
12,12,Bengkulu,ID,-3.8004,102.2655,84.00,69,45,7.78,scattered clouds
17,17,Jalu,LY,29.0331,21.5482,80.80,31,0,11.27,clear sky
23,23,Manicore,BR,-5.8092,-61.3003,75.15,100,0,0.00,clear sky
...,...,...,...,...,...,...,...,...,...,...
672,672,Dongkan,CN,33.9997,119.8308,79.63,69,100,1.39,overcast clouds
673,673,Parker,US,32.7668,-97.8003,82.35,72,0,6.44,clear sky
676,676,Biak,ID,-0.9131,122.8766,81.28,73,30,4.74,scattered clouds
681,681,Finschhafen,PG,-6.6024,147.8681,81.03,69,98,9.08,overcast clouds
689,689,Marzuq,YE,14.4000,46.4667,89.22,23,99,1.92,overcast clouds

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Antsohihy,MG,78.21,scattered clouds,-14.8796,47.9875,
5,Vaini,TO,75.36,light rain,-21.2000,-175.2000,
12,Bengkulu,ID,84.00,scattered clouds,-3.8004,102.2655,
17,Jalu,LY,80.80,clear sky,29.0331,21.5482,
23,Manicore,BR,75.15,clear sky,-5.8092,-61.3003,
25,Isla Mujeres,MX,77.16,overcast clouds,21.2311,-86.7310,
31,Manggar,ID,86.22,overcast clouds,-2.8833,108.2667,
38,Kapaa,US,79.12,light rain,22.0752,-159.3190,
39,Saint-Philippe,RE,75.47,light rain,-21.3585,55.7679,
40,Vanavara,RU,77.58,few clouds,60.3400,102.2797,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():   
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]    
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()  
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [12]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df['Hotel Name']!= '']    
new_col_order = ["City","Country","Max Temp","Current Description","Lat","Lng","Hotel Name"]
clean_hotel_df = clean_hotel_df[new_col_order]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
4,Antsohihy,MG,78.21,scattered clouds,-14.8796,47.9875,Hotel de Ville
5,Vaini,TO,75.36,light rain,-21.2000,-175.2000,Keleti Beach Resort
12,Bengkulu,ID,84.00,scattered clouds,-3.8004,102.2655,Grage Hotel Bengkulu
17,Jalu,LY,80.80,clear sky,29.0331,21.5482,صاحبة الفخامة
23,Manicore,BR,75.15,clear sky,-5.8092,-61.3003,Hotel Durval
...,...,...,...,...,...,...,...
665,Hohhot,CN,78.26,clear sky,40.8106,111.6522,Sheraton Hohhot Hotel
672,Dongkan,CN,79.63,overcast clouds,33.9997,119.8308,Triumphal Resort
673,Parker,US,82.35,clear sky,32.7668,-97.8003,"Candlewood Suites Weatherford, an IHG Hotel"
676,Biak,ID,81.28,scattered clouds,-0.9131,122.8766,Penginapan Kim
681,Finschhafen,PG,81.03,overcast clouds,-6.6024,147.8681,Cossam Guest House

In [13]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [16]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description}</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

         Lat       Lng
4   -14.8796   47.9875
5   -21.2000 -175.2000
12   -3.8004  102.2655
17   29.0331   21.5482
23   -5.8092  -61.3003
..       ...       ...
665  40.8106  111.6522
672  33.9997  119.8308
673  32.7668  -97.8003
676  -0.9131  122.8766
681  -6.6024  147.8681

[184 rows x 2 columns]

In [15]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig
# 11b. Display the figure

Figure(layout=FigureLayout(height='420px'))